/* CSS declarations go here */
body{
	color:white;
	font-family: "Oswald", "Source Sans Pro";
}

p{
	color:black;
}
footer {
	background-color:#8399a1;
	height:100px;
}
footer p{
	float:right;
}

.table th, .table td{
	padding:4px;
}
.table .meter{
	background-color: lightblue;
	height: 15px;
}

.compare .meter > span{
	height: 50%;
}
.black {
	color: black;
}
.white {
	color: white;
}
.bg-img {
  /*font-family: sans-serif;*/
  background-image: url("/General/NetworkMap.png");
  background-size: auto;
  background-repeat: repeat;
  height: 100vh;
  overflow:auto;
}

#goHome{
	text-decoration:none !important;
}
#goHome:hover{
	color:white;
	text-decoration: none !important;
	cursor: pointer;
}
#fix-top{
	position: relative;
	top:-10px;
}
.clear{
	clear:both;
}
.title{
	background-color:#8399a1;
}
.title img{
	padding-left:50px;
}

.title h5{
	padding-left:170px;
	position: relative;
	top: -30px;
}

.mid {
	height:100vh;
	background-color:#574e4f;
}

.gray-space{
	background-color:#c0d1d6;
}

.ic-row{
	height:250px;
	width:100%;
	padding-top:150px;
	margin-left:4%;
}
.ic-row .row{
	float:left;
	width:25%;
}

.nonprofit-capacity-is {
	background-color:#8399a1;
	padding: 20px;
}
.eight-dimensions{
	background-color:#574e4f;
	height:200px;
	padding: 20px;
}

.eight-dimensions .row{
	float:left;
	width:12.5%;
}

.red-bg {
	background-color: #965F5C;
	padding:30px;
}

.buttons{
	text-align:center;
	padding: 30px;
}

.home-button{
	padding:5px 10px;
	border: 2px solid blue;
	background-color: white;
}

.home-button:hover{
	cursor: pointer;
}

.register-form{
	text-align:center;
}

.login-form{
	text-align:center;
}

.register-form p{
	color:#574e4f;
}

.register-form input{
	border: 2px solid #574e4f;
}

.register{
	padding-top:25px;
	padding-bottom:25px;
}

.next-button{
	position: relative;
    float: right;
    right: 50px;
    background-color:#965f5c;
    border-style: none;
    padding:5px 20px;
    color:white;
    margin-bottom:20px;
    margin-top: 20px;
}

.prev-button{
	position: relative;
    float: left;
    left: 50px;
    background-color:#965f5c;
    border-style: none;
    padding:5px 20px;
    color:white;
    margin-bottom:20px;
    margin-top: 20px;
}

.survey-text p{
	padding:0px 24px;
}

.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background-color:white;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	width: 95%;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #8399a1;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.divider{
	border:2px solid black;
	width:96%;
	margin: 0 auto;
}
.vertical-divider {
	position: absolute;
	left:49%;
	top:37%;
	bottom: 17%;
	border-left:2px solid black;
}

/*.radio label{
	padding-left:15%;
	color:black;
}*/

.radio, .checkbox {
	color:black;
	padding-left:15%;
}

.region {

}
.inline-display{
	display:inline;
	padding-left:50px;
}
.inline-textform{
	margin-left:200px;
	width:450px;
}
.radio-survey label{
	display: inline;
	padding-right: 12%;
}

.horizontal-list{
	list-style-type:none; 
	margin:0; 
	padding:0;
}

.horizontal-list li{
	float:left;
	padding-right:40px;
}


.scroller {
	overflow-y: scroll;
	height:300px;
	width:90%;
	margin: auto;
}

.navbar-complete {
	background-color: #8399a1;
}

.navbar-complete .span4 {
	padding: 10px 0px 10px 0px;
	text-align: center;
}

