<template name="accountResults">
	<div class="black-break"></div>
	<div class="navbar-complete black">
		<div class="container">
			<div class="row">
				<div class="span4 white">Your Results</div>
			</div>
		</div>
	</div>
	<div class="black-break"></div>
	    	
	    <div style="padding:10px 20px 0px 20px" class="gray-space black">
	    	<p>Nonprofit capacity refers to the processes, practices, and people that the organization has at its disposal that enable it to produce, perform, or deploy resources to achieve its mission. Your organization was scored on eight dimensions of nonprofity capacity.</p>

	    	<h3>How You Performed:</h3>
	    		<table class="table table-striped">
				    <thead>
				      <tr>
				        <th></th>
				        <th>Min = 1</th>
				        <th>Max = 4</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Adaptive Capacity</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{adaptiveCapacityScore}}%;">
				  					<!-- <p style="text-align:right; margin-left:20px;">{{adaptiveCapacityScore}}</p> -->
				  				</span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Board Leadership</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{boardLeadershipScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>External Communication</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{externalCommunicationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Financial Management</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{financialManagementScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Mission Orientation</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{missionOrientationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Operational Capacity</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{operationalCapacityScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Staff Management</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{staffManagementScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Strategic Planning</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{strategicPlanningScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				    </tbody>
			  </table>


	    	<h3>How You Compare:</h3>
	    		<table class="table table-striped compare">
				    <thead>
				      <tr>
				        <th></th>
				        <th>Min = 1</th>
				        <th>Max = 4</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Adaptive Capacity</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{adaptiveCapacityScore}}%;"></span>
				  				<span style="width: {{adaptiveCapacityClassificationScore}}%;"></span>
				  				<span style="width: {{adaptiveCapacityRevenueScore}}%;"></span>
				  				<span style="width: {{adaptiveCapacityLocationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Board Leadership</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{boardLeadershipScore}}%;"></span>
				  				<span style="width: {{boardLeadershipClassificationScore}}%;"></span>
				  				<span style="width: {{boardLeadershipRevenueScore}}%;"></span>
				  				<span style="width: {{boardLeadershipLocationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>External Communication</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{externalCommunicationScore}}%;"></span>
				  				<span style="width: {{externalCommunicationClassificationScore}}%;"></span>
				  				<span style="width: {{externalCommunicationRevenueScore}}%;"></span>
				  				<span style="width: {{externalCommunicationLocationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Financial Management</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{financialManagementScore}}%;"></span>
				  				<span style="width: {{financialManagementClassificationScore}}%;"></span>
				  				<span style="width: {{financialManagementRevenueScore}}%;"></span>
				  				<span style="width: {{financialManagementLocationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Mission Orientation</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{missionOrientationScore}}%;"></span>
				  				<span style="width: {{missionOrientationClassificationScore}}%;"></span>
				  				<span style="width: {{missionOrientationRevenueScore}}%;"></span>
				  				<span style="width: {{missionOrientationLocationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Operational Capacity</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{operationalCapacityScore}}%;"></span>
				  				<span style="width: {{operationalCapacityClassificationScore}}%;"></span>
				  				<span style="width: {{operationalCapacityRevenueScore}}%;"></span>
				  				<span style="width: {{operationalCapacityLocationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Staff Management</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{staffManagementScore}}%;"></span>
				  				<span style="width: {{staffManagementClassificationScore}}%;"></span>
				  				<span style="width: {{staffManagementRevenueScore}}%;"></span>
				  				<span style="width: {{staffManagementLocationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				      <tr>
				        <td>Strategic Planning</td>
				        <td style="width:100%">
				        	<div class="meter">
				  				<span style="width: {{strategicPlanningScore}}%;"></span>
				  				<span style="width: {{strategicPlanningClassificationScore}}%;"></span>
				  				<span style="width: {{strategicPlanningRevenueScore}}%;"></span>
				  				<span style="width: {{strategicPlanningLocationScore}}%;"></span>
							</div>
				        </td>
				      </tr>
				    </tbody>
			  </table>
	    	<h3>Your Strengths</h3>
	    		<p>Your first strength is {{firstStrength}}</p>
	    		<p>Your second strength is {{secondStrength}}</p>

	    	<h3>Your Weaknesses</h3>
	    		<p>Your first weakness is {{firstWeakness}}</p>
	    		<p>Your second weakness is {{secondWeakness}}</p>

	    	<a href="/complete"><button class="prev-button">&lt; Back</button></a>
	    	<a href="/thankyou"><button class="next-button">Next ></button></a>
	    	<div class="clear"></div>
	    </div>
	    {{> footer}}

</template>