<template name="complete">
	<div class="black-break"></div>
	<div class="navbar">
		adsf
	</div>
	<div class="black-break"></div>
	    	
	    <div class="gray-space">
	    	<h3>Background</h3>
	    	<p>The purpose of this study was to understand the link between nonprofit capacity and relations with other community members. Through a pilot study, we developed a survey to measure nonprofit capacity. In the second phase of the study, over 1400 nonprofits have completed the study. These results will demonstrate how your organization compares with these nonprofits.</p>
	    	<h3>Methods and Comparison</h3>
	    	<p>In the results, we organized nonprofits into various categories for comparison purposes: classification sector, country or continent of origin, number of countires in which operations occur, and revenue. You are able to compare your organizations performance in each of the aforementioned categories by looking at your percentile scores.</p>
	    	<p>The majority of the organizations were headquartered in the United States. China also included a sizable number of responses. The average revenue was $5,000,000. However, there was a large range, with the smallest being less than $00 and the largest at $700,000,000. Nearly 700 of the organizations operated in only one country, with 40 operating in ten or more countries. <a href="">Read more about the study.</a></p>

	    	<h3>Thanks for Your Participation</h3>
	    	<p>The purpose of this study was to understand the link between nonprofit capacity and relations with other community members. Through a pilot study, we developed a survey to measure nonprofit capacity. In the second phase of the study, over 1400 nonprofits have completed the study. These results will demonstrate how your organization compares with these nonprofits.</p>
	    	<!-- <a href="/survey6"><button class="prev-button">&lt; Back</button></a> -->
	    	<a href="/results"><button class="next-button">Next ></button></a>
	    	<div class="clear"></div>
	    </div>
	    {{> footer}}

</template>