<template name="deadend">
    	<div class="black-break"></div>
	    	<div class="how-it-works red-bg">
	    		<h3 style="text-align:center">Thank you.</h3>
	    	</div>
	    <div class="gray-space">

	    <div class="container register-form">
		    <h4 style="padding:10%; color:black; line-height:30px;">
		    	Thank you for your interest in the Nonprofit Capacity Analytics Tool! Because this is an ongoing research project, only executive directors or senior management at nonprofit organizations can complete the survey online. However, if you represent another type of organization, you can request a copy of the Nonprofit Capacity Analytics Tool or more information about the Nonprofit Capacity Project by emailing nnsi@northwestern.edu. Thank you.
		    </h4>
	    </div>

	    </div>
	    {{> footer}}
</template>