<template name="home">
	    	<div class="black-break"></div>
	    	<div class="how-it-works red-bg">
	    		<h3 style="text-align:center">How it works</h3>
	    		<p>The Nonprofit Capacity Analytics Tool is a free, research-based web platform that allows nonprofit leaders to assess their organization's capcity, view advice for improvement, and monitor their progress over time. Here, nonprofit capacity is tracked in terms of eight different quantitative dimensions.</p>
	    	</div>

	    	<div class="gray-space">

	    		<div class="ic-row container">
	    			<div class="row">
		    			<img class="span3" src="/Homepage/Icon1.png">
		    			<p>View instant quantitative results for eight dimensions of nonprofit capacity</p>
	    			</div>
	    			<div class="row">
		    			<img class="span3" src="/Homepage/Icon2.png">
		    			<p>Compare your scores to over 1500 nonprofits across multiple subcategories</p>
		    		</div>
		    		<div class="row">
		    			<img class="span3" src="/Homepage/Icon3.png">
		    			<p>Receive a customized report on how to increase your organization's success</p>
		    		</div>
		    		<div class="row">
		    			<img class="span3" src="/Homepage/Icon4.png">
		    			<p>Monitor how your organization's performance changes over time</p>
		    		</div>
	    		</div>

	    		<div class="nonprofit-capacity-is">
	    			<h3>Nonprofit Capacity is...</h3>
	    			<h6>the processes, practices, and people that an organization has at its disposal that enable it to produce, perform, and deploy resources to achieve its mission.</h6>
	    		</div>

	    		<div class="eight-dimensions">
	    			<h3>The Eight Dimensions</h3>
	    			<div class="container">
	    				<div class="row">
	    					<img class="span1">
	    				</div>
	    				<div class="row">
	    					<img class="span1" src="/MainIcons/AdaptiveCapacity.png">
	    					<p>Adaptive Capacity</p>
	    				</div>
	    				<div class="row">
	    					<img class="span1" src="/MainIcons/BoardLeadership.png">
	    					<p>Board Leadership</p>
	    				</div>
	    				<div class="row">
	    					<img class="span1" src="/MainIcons/ExternalCommunication.png">
	    					<p>External Communication</p>
	    				</div>
	    				<div class="row">
	    					<img class="span1" src="/MainIcons/FinancialManagement.png">
	    					<p>Financial Management</p>
	    				</div>
	    				<div class="row">
	    					<img class="span1" src="/MainIcons/MissionOrientation.png">
	    					<p>Mission Orientation</p>
	    				</div>
	    				<div class="row">
	    					<img class="span1" src="/MainIcons/OperationalCapacity.png">
	    					<p>Operational Capacity</p>
	    				</div>
	    				<div class="row">
	    					<img class="span1" src="/MainIcons/StaffManagement.png">
	    					<p>Staff Management</p>
	    				</div>
	    				<div class="row">
	    					<img class="span1" src="/MainIcons/StrategicPlanning.png">
	    					<p>Strategic Planning</p>
	    				</div>
	    				<div class="row">
	    					<img class="span1">
	    				</div>
	    			</div>
	    		</div>

	    		<div class="red-bg">
	    			<h5>Adaptive Capacity refers to the way organizations adapt to changes in their environment.</h5>
	    		</div>

	    		<div class="buttons">
	    			<a href="/register"><button>Get Started</button></a>
	    			<button>Log In</button>
	    		</div>
	    		{{> footer}}
	    	</div>
	    </template>