<template name="home">
	    	<div class="black-break"></div>
	    	<div class="how-it-works red-bg">
	    		<h3 style="text-align:center; font-weight:100">How it works</h3>
	    		<p style="color:white">The Nonprofit Capacity Analytics Tool is a free, research-based web platform that allows nonprofit leaders to assess their organization's capcity, view advice for improvement, and monitor their progress over time. Here, nonprofit capacity is tracked in terms of eight different quantitative dimensions.</p>
	    	</div>

	    	<div class="gray-space">

	    		<div class="ic-row container">
	    			<div class="row container">
		    			<img class="span3" src="/Homepage/Icon1.png">
		    			<p style="text-align:left; width:90%; padding-left:40px;">View instant quantitative results for eight dimensions of nonprofit capacity</p>
	    			</div>
	    			<div class="row">
		    			<img class="span3" src="/Homepage/Icon2.png">
		    			<p style="text-align:left; width:90%; padding-left:40px; top:44px; position: relative;">Compare your scores to over 1500 nonprofits across multiple subcategories</p>
		    		</div>
		    		<div class="row">
		    			<img class="span3" src="/Homepage/Icon3.png">
		    			<p style="text-align:left; width:90%; padding-left:40px;top:27px; position: relative;">Receive a customized report on how to increase your organization's success</p>
		    		</div>
		    		<div class="row">
		    			<img class="span3" src="/Homepage/Icon4.png">
		    			<p style="text-align:left; width:90%; padding-left:40px;top:-21px; position: relative;">Monitor how your organization's performance changes over time</p>
		    		</div>
	    		</div>

	    		<div class="clear"></div>

	    		<div class="nonprofit-capacity-is" style="position:relative; top:10px;">
	    			<div class="container" style="padding-left:2%;">
		    			<h3>Nonprofit Capacity is...</h3>
		    			<h5 style="padding-left:5%;">the processes, practices, and people that an organization has at its disposal that enable it to produce, perform, and deploy resources to achieve its mission.</h5>
	    			</div>
	    		</div>

	    		<div class="clear"></div>

	    		<div class="eight-dimensions">
	    			<h3 class="container" style="padding-left:2%;">The Eight Dimensions</h3>
	    			<div class="container" style="padding-left:5%">
	    			
	    				<div class="row" id="adaptive-capacity">
	    					<div style="width:67%; text-align: center">
	    					<img class="span1" src="/MainIcons/AdaptiveCapacity.png">
	    					<p>Adaptive Capacity</p>
	    					</div>
	    				</div>
	    				<div class="row" id="board-leadership">
	    					<div style="width:67%; text-align: center">
	    					<img class="span1" src="/MainIcons/BoardLeadership.png">
	    					<p>Board Leadership</p>
	    					</div>
	    				</div>
	    				<div class="row" id="external-communication">
	    					<div style="width:67%; text-align: center">
	    					<img class="span1" src="/MainIcons/ExternalCommunication.png">
	    					<p>External Communication</p>
	    					</div>
	    				</div>
	    				<div class="row" id="financial-management">
	    					<div style="width:67%; text-align: center">
	    					<img class="span1" src="/MainIcons/FinancialManagement.png">
	    					<p>Financial Management</p>
	    					</div>
	    				</div>
	    				<div class="row" id="mission-orientation">
	    					<div style="width:67%; text-align: center">
	    					<img class="span1" src="/MainIcons/MissionOrientation.png">
	    					<p>Mission Orientation</p>
	    					</div>
	    				</div>
	    				<div class="row" id="operational-capacity">
	    					<div style="width:67%; text-align: center">
	    					<img class="span1" src="/MainIcons/OperationalCapacity.png">
	    					<p>Operational Capacity</p>
	    					</div>
	    				</div>
	    				<div class="row" id="staff-management">
	    					<div style="width:67%; text-align: center">
	    					<img class="span1" src="/MainIcons/StaffManagement.png">
	    					<p>Staff Management</p>
	    					</div>
	    				</div>
	    				<div class="row" id="strategic-planning">
	    					<div style="width:67%; text-align: center">
	    					<img class="span1" src="/MainIcons/StrategicPlanning.png">
	    					<p>Strategic Planning</p>
	    					</div>
	    				</div>
	    				<div class="row">
	    					<img class="span1">
	    				</div>
	    			</div>
	    		</div>

	    		<div class="red-bg">
	    			<h4 id = "rollover-text" style="text-align: center">Adaptive Capacity refers to the way organizations adapt to changes in their environment.</h4>
	    		</div>

	    		<div class="buttons container">
	    			<div class="row span6">
	    				<a href="/register"><button class="home-button"><h3>Get Started</h3></button></a>
	    			</div>
	    			<div class="row span5">
	    				<a href="/login"><button class="home-button"><h3>Log In</h3></button></a>
	    			</div>
	    		</div>
	    		{{> footer}}
	    	</div>
	    </template>