<template name="howCalculated">
	<div class="black-break"></div>
	<div class="navbar-complete black">
	</div>
	<div class="black-break"></div>
	    <div style="padding:10px 20px 0px 20px" class="gray-space black">

	    	<h3>How these scores were calculated?</h3>
	    	<p>Your scores are based upon the answers you gave to selected questions on the survey. The score represents the average across items.  Items are on a four-point scale, where 1 equals strongly disagree and 4 equals strongly agree. There was no midpoint. If you answered, “don’t know” and “not applicable,” the response was counted as missing data (i.e., not included in your reported calculations).</p>
			<p>The Nonprofit Capacity Instrument has been tested for several statistical properties (i.e., reliability, construct validity, and predictive validity) and is the only instrument currently available, to our knowledge, that has withstood scientific rigor. Based on a large scale survey, your report also includes reference scores to nonprofits that are similar to your nonprofit.</p>

	    	<h4>Financial Management</h4>
	    	<p>Financial management refers to a nonprofit’s competence in managing their accounts. Previous research indicates that organizations often build their financial management capacity over time with more developed organizations eventually embracing Generally Accepted Accounting Principles (GAAPs) and hiring a staff member or recruiting a volunteer with greater experience. The financial management scale includes 9 items. </p>
	    	<ol style="padding-left:30px;">
			 	<li>Financial plans are in place for the long-term sustainability of this organization’s work.</li>
				<li>This organization has enough cash available to pay its bills.</li>
				<li>An annual budget is updated and reviewed regularly by management.</li>
				<li>There are qualified personnel that manage this organization’s finances.</li>
				<li>Financial reports are used for decision-making.</li>
				<li>Financial reports are created on a quarterly basis.</li>
				<li>This organization obtains funds from a variety of sources (i.e., individual donors, grants, earned income).</li>
				<li>The budget takes into account the long-term financial resources of this organization.</li>
				<li>There are documented procedures for handling the organization’s finances (e.g., petty cash, signatory procedures, expenditure approval, and accounting).</li>
			</ol>  

	    	<h4>Adaptive Capacity</h4>
	    	<p>Adaptive capacity refers to the way organizations adapt to changes in their environment, and consists of organizational learning, responsiveness, innovativeness, and motivation It describes the ability of a nonprofit to learn from its environment, including the presence of cultural elements that make an organization willing to learn. The adaptive capacity scale includes 7 items.</p>

			<ol style="padding-left:30px;">
				<li>Staff members are well informed about the organization’s activities.</li>
				<li>Many staff members are involved in making decisions for this organization’s activities.</li>
				<li>There is a sense of shared values among the entire staff.</li>
				<li>In general, the staff is committed to this organization.</li>
				<li>Conflicts among staff are resolved productively.</li>
				<li>People at this organization work together to solve problems.</li>
				<li>Employees at this organization are supportive of one other.</li>
			</ol>	    	

			<h4>Strategic Planning</h4>
			<p>Strategic planning is defined as “a deliberative, disciplined approach to producing fundamental decisions and actions that shape and guide what an organization (or other entity) is, what it does, and why” (Bryson, 2011, p. 8). A variety of models and guides exist for strategic planning in nonprofits, and, across these models, strategic planning is thought to benefit nonprofits because it serves as a ‘road map’ to achieving and realizing specific goals, missions, objectives, structures, and resources. The strategic planning scale includes 6 items.</p>

			<ol style="padding-left:30px;">
				<li>Implementation of activities reflects the strategic plan.</li>
				<li>Strategic plans are actually followed.</li>
				<li>This organization is guided by a long-term strategic plan.</li>
				<li>This organization’s strategic plan is forward-oriented.</li>
				<li>The board revisits the strategic plan on an annual basis.</li>
				<li>The strategic plan is structured around this organization’s mission.</li>
			</ol>

			<h4>External Communication</h4>
			<p>External communication capacity describes the ability of nonprofits to engage stakeholders. Modern nonprofits face two prominent criteria for effective external communication: (1) the presence of a traditional public relations strategy that includes effective use of information technology such as social media to communicate with publics, and (2) the effective pursuit of advocacy. The external communication scale includes 7 items.</p>
			<ol style="padding-left:30px;">
				<li>Information technology is regularly used for communicating with external stakeholders (i.e., donors, media, and other organizations).</li>
				<li>This organization has developed cause-related fundraising activities.</li>
				<li>A public relations strategy is in place.</li>
				<li>Information about organizational activities is regularly disseminated to the public.</li>
				<li>This organization has the ability to develop key messages for potential supporters.</li>
				<li>This organization has experience with developing communication campaigns.</li>
				<li>This organization has established media relationships.</li>
			</ol>

			<h4>Board Leadership</h4>
			<p>Board leadership is defined as the board of directors’ commitment to and involvement with the organization’s vision and plan, its relationship with the staff, and its ability to make sound decisions about the organization’s future. The board leadership scale includes 7 items.</p>
			<ol style="padding-left:30px;">
				<li>Board members are committed to the vision of this organization.</li>
				<li>The board members are accessible to employees.</li>
				<li>This organization’s board has a good working relationship with staff.</li>
				<li>The board takes regular steps to stay informed about the important trends in the larger environment that might affect the organization.</li>
				<li>The board explicitly examines the “downside” or possible pitfalls of any important decision it is about to make.</li>
				<li>The board periodically sets aside time to learn more about important issues facing organizations like this one.</li>
				<li>The board learns from its mistakes.</li>
			</ol>

			<h4>Operational Capacity</h4>
			<p>This factor addresses the existence and use of documented procedures, as well as the organization’s ability to set goals for programs and activities, and assess their outcomes. Previous literature has not considered operational capacity as a capacity in itself. However, the components of this capacity are addressed in previous work; for example, Sobeck and Agius (2007, p. 238) argue that “informal and formal processes and procedures” are components of organizational capacity that facilitate the organization’s achievement of its mission. The operational capacity scale includes 5 items.</p>
			<ol style="padding-left:30px;">
				<li>There is a documented process for training volunteers.</li>
				<li>Performance indicators have been identified for each program objective.</li>
				<li>Regular reports track each program on at least a quarterly basis.</li>
				<li>Programs are routinely monitored through external evaluation.</li>
				<li>Before a program begins, measurable objectives are set out.</li>
			</ol>

			<h4>Mission Orientation</h4>
			<p>Mission orientation describes stakeholders’ common orientation towards the mission of a nonprofit organization and includes areas generally related to an organization’s mission, like mission attachment. The mission orientation scale includes 4 items.</p>
			<ol style="padding-left:30px;">
				<li>Donors are committed to the mission of this organization.</li>
				<li>Other stakeholders, such as community members, clients or beneficiaries of the organization, share a common vision for this organization.</li>
				<li>The mission or vision statement provides this organization with direction.</li>
				<li>The community would identify this organization by its mission statement.</li>
			</ol>


			<h4>Staff Management</h4>
			<p>Staff management reflects employee needs for information, training and mentoring, and management’s ability to respond to these needs. Management is often linked to nonprofit capacity; capacity building has been used to refer to management itself while management capacity building has become something of a trend. The staff management scale includes 4 items.</p>
			<ol style="padding-left:30px;">
				<li>Employees have all the information they need to do their jobs effectively.</li>
				<li>Management provides opportunities for regular job training activities.</li>
				<li>Managers have the necessary skills to run this organization.</li>
				<li>Staff receives adequate mentoring.</li>
			</ol>

	    	<a href="/results"><button class="prev-button">&lt; Back</button></a>
	    	<div class="clear"></div>
	    </div>
	    {{> footer}}

</template>