<head>
  <title>NNSI</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
</head>

<body>
  
</body>

<template name="main">
	<div class = "bg-img">

	  <div class="container">
	    <div class="span12 mid" id = "fix-top">
	    	<div class="title">
	    		<h1>

	    		<img src="/General/LogoTransparentSmall.png">Nonprofit Capacity Analytics Tool
    			<h5>How can nonprofits be rewired for maximum impact?</h5>

	    		</h1>
	    	</div>
	    	{{> yield}}
	    </div>

	  </div>
  </div>
</template>	



