<template name="register">
    	<div class="black-break"></div>
	    	<div class="how-it-works red-bg">
	    		<h3 style="text-align:center">Get Started</h3>
	    		<p>Enter your information to create an account so that you can access your results later.</p>
	    	</div>
	    <div class="gray-space">

	    <div class="container register-form">
		    <form class="register">
		        <p style="margin-left:44px">Email: <input type="email" name="email"></p>
		        <p>Organization: <input type="text" name="organization"></p>
		        <p style="margin-left:17px">Password: <input type="password" name="password"></p>
		        <p style="margin-left:-36px">Confirm Password: <input type="password" name="confirmpassword"></p>
		        <p><input type="checkbox" style="transform:scale(2); position:relative; right:10px">Check this box to subscribe to a quarterly newsletter by the Network for Nonprofit and Social Impact. It will contain updates about this tool and current news and research regarding nonprofit capacity.</p>
		        <p><input class="next-button" type="submit" value="Next >"></p>
		    </form>
	    </div>

	    </div>
	    {{> footer}}
</template>