<template name="survey7">
	<div class="black-break"></div>
	    	<div class="how-it-works red-bg">
	    		<div class="meter">
				  <span style="width: 43.75%; float:left"></span>
				  <p style="float:right; left:50px; position:relative">7/16</p>
				</div>
	    	</div>
	    <div class="gray-space survey-text">
	    	<div class="container">
	    		<p>For the following statements, please select the answer that best represents your personal assessment about your organization.</p>
	    	</div>
	    	
	    	<a href="/survey6"><button class="prev-button">&lt; Back</button></a>
	    	<a href="/survey8"><button class="next-button">Next ></button></a>
	    	<div class="clear"></div>
	    </div>
	    {{> footer}}
</template>